@charset "ISO-8859-1";

body {
	width: 80%;
	margin : auto;
}

a {
	color: white;
}


table, td, th {  
  border: 1px solid #ddd;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 5px;
}

th, td {
  padding: 15px;
}

th {
	background-color: #98878F;
}

legend {
	color: white;
}